[2017-07-28 03:41] jonnycraze opened #1 "Watching the Event Emission"
I'm still learning view so please excuse my ignorance if this is overly obvious.

Currently I'm trying to watch the event emissions like so on my component:

`this.$on('paypal-paymentAuthorized', data => {
      console.log('authorized:')
      console.log(data)
    })`

however i have all 3 set up and haven't been able to get one to work yet. could you help me understand what i'm doing wrong.

[2017-08-03 21:12] khoanguyen96 commented on #1
Hey, sorry for the late reply.

I tend to specify a method name when using the `v-on` directive. So somewhere in your component template markup, you would specify the `paypal-checkout` component

[code]

Notice how there's a `v-on` property that's binding to the `paypal-paymentAuthorized` event which then receives the method name where you can process the event emission with the response payload.

[2017-09-01 19:10] dvlden opened #2 "Allow "style" binding?"
[code]

I tried editing your package directly as I need this importantly for an specific project, but seems like it's loading compiled file and not vue file components?

Appreciate it if you can implement this soon.

[2017-09-01 21:06] khoanguyen96 commented on #2
Hey,

Sorry about that! I completely forgot about the style customization `paypal-checkout` offers. I'll definitely take a look into implementing it soon.

[2017-09-01 21:50] khoanguyen96 commented on #2
Hey, just added it as a `buttonStyle` prop. It's in `v2.1.2`

[2017-09-01 21:50] #2 closed

[2017-09-02 09:43] dvlden commented on #2
Great! Much appreciated. It's really useful package!

[2017-09-02 09:46] dvlden commented on #2
I believe it's supposed to be `gold` and not `orange`?

<img width="1920" alt="screen shot 2017-09-02 at 11 45 58" src="https://user-images.githubusercontent.com/3460368/29994626-5f1db288-8fd4-11e7-9823-bc4f8efe569c.png">

[2017-09-02 17:37] khoanguyen96 commented on #2
Oh my bad! I referenced the colors from here [button.md](https://github.com/paypal/paypal-checkout/blob/master/docs/button.md)

I'll change it real quick.

[2017-09-05 23:42] #1 closed

[2017-09-29 18:37] CoffiDev opened #4 "How to set env sandbox ?"
Hi, I have read the documentation in the README.md file, but I haven't found a way to use sandbox mode.
I check the code and find that i have to set the prop "dev" to true to use the sandbox mode but it will be helpful if it is explained in the README.
Thanks

[2017-09-30 06:06] khoanguyen96 commented on #4
Hey, sorry if it isn't clear.

Use the component like this:

[code]

Here is where you specify your sandbox client id. If the prop `dev` is true, it should use sandbox mode, with the specified sandbox client id in your `data()`.

If you need a sandbox client id, you should be able to get one from here https://developer.paypal.com/developer/applications/

[code]

I'll take a look into updating the

[2017-10-08 19:38] #4 closed

[2017-10-20 08:13] portwatcher opened #5 "Braintree SDK integration?"
Any plan on that?

I think you just need to allow developers to pass the braintree parameter in.

https://developer.paypal.com/demo/checkout/#/pattern/braintree

[2017-11-22 03:55] ilrock opened #6 "PayPal experience options"
Hey @khoanguyen96 any plan on adding the PayPal [experience options](https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/customize-the-checkout-flow/#pass-experience-profile-options)?

It'd be great to stop users filling in shipping info if not needed.

Cheers!

[2018-01-26 00:03] #5 closed

[2018-01-26 00:03] #6 closed

[2018-01-26 21:50] khoanguyen96 commented on #5
Hey,

Sorry for taking so long. I added it as a prop `braintree`. It's included in a beta I just published.

Just run:

[code]

Tell me if it works! I haven't had a chance to fully test it.

Sample HTML:

[code]

[2018-01-26 21:52] khoanguyen96 commented on #6
Hey @ilrock

It's included as a `experience` prop in the beta.

[code]

I tested it with this:

[code]

It should work. Tell me if there's any problems!

Thanks!!

[2018-02-03 14:21] janzheng opened #9 "document dev="true" as sandbox"
Hey, I think your wrapper is great! But could you document setting :dev="true" as setting env="sandbox"?
Or I would also suggest using :env="sandbox" or :env="production" in your wrapper to mimic the same language as the component.

Cheers!

[2018-02-05 19:11] #9 closed

[2018-02-05 19:12] khoanguyen96 commented on #9
Hey,

Thanks for the suggestion! This definitely makes more sense. I'll publish the change soon.

[2018-02-07 17:45] janzheng commented on #9
That was fast! Keep up the good work

On Mon, Feb 5, 2018 at 2:12 PM, Khoa Nguyen <notifications@github.com>
wrote:

[2018-02-08 10:21] erwin16 opened #10 "include non-minified js file in the distribution"
Thanks for your awesome work !
For helping developers in debugging, could it be possible to include also the non-minified version if the js file ...  we'll load it via webpack..  thanks a lot

[2018-02-08 12:08] erwin16 opened #11 "button style not working as expected"
I am trying to use specific button styles as described in the doc ... but the label, locale, size , color and shape are not taken in account
script

      `
      <script>
	import TopNavTwo from '@/components/TopNavTwo'
	import PageHeader from '@/components/PageHeader'
	import PayPal from 'vue-paypal-checkout'
	export default {
	  mounted () {
	    document.body.scrollTop = document.documentElemen

[2018-02-08 22:57] khoanguyen96 commented on #11
Hey @erwin16,

Thanks for the catch! I seemed to mess up and not include the buttonStyle for a recent release. It should be fixed now.

I'll publish a new version soon :+1:

[2018-02-08 23:16] #11 closed

[2018-02-08 23:17] #10 closed

[2018-02-09 05:26] khoanguyen96 commented on #10
Hey @erwin16,

I included a non-minified umd version in the [`dist`](https://github.com/khoanguyen96/vue-paypal-checkout/tree/master/dist) directory.

Hope that helps!

[2018-02-09 07:21] erwin16 commented on #10
thanks a lot

[2018-02-09 07:21] erwin16 commented on #11
thanks a lot

[2018-02-09 16:10] erwin16 opened #14 "How to change the locale used bt the button ?"
I tried locale: 'fr_FR' , but it does not change the button... seems your are using the browser locale wo taking in account the locale: 'fr_FR' . parameter ?

[2018-02-09 18:15] khoanguyen96 commented on #14
Hey @erwin16,

The locale is it's own separate configurable parameter, as documented from [`paypal-checkout`'s docs](https://github.com/paypal/paypal-checkout/blob/master/docs/button.md#customizing-the-button).

Currently, `vue-paypal-checkout` doesn't have that option configurable. I'll add it soon thanks!

[2018-02-09 18:18] #14 closed

[2018-02-09 18:22] khoanguyen96 commented on #14
Published in v2.3.3! :rocket:

[2018-02-11 12:33] erwin16 commented on #14
thanks a lot !!!  awesome ... working fine ... I would like PayPal dev to be so reactive and efficient as you are...   I am fighting today with the Sandbox , not being able to create buyers accounts .. only business accounts can be created...

[2018-02-11 13:38] erwin16 opened #16 "Warning on locale prop ?"
According to your doc for local prop, I used:

    `<PayPal v-show="displayPaypalButtons" :buttonStyle="aStyle" locale="fr_FR" :client="credentials" amount="10.00" currency="EUR" env="sandbox" :invoice-number="invoiceNumber"></PayPal>

It  workd ...but  I get a . warning message

    `Invalid prop: type check failed for prop "locale". Expected Object, got String.

[2018-02-11 13:40] erwin16 opened #17 "Capturing the paypal events ?"
I tried to capture the authorized, completed and cancelled events ...

    `  mounted () {
    document.body.scrollTop = document.documentElement.scrollTop = 0
    this.$on('paypal-paymentAuthorized', function (params) {
      console.log('paypal-paymentAuthorized fired: ', params)
    })
    this.$on('paypal-paymentCompleted', function (params) {
      console.log('paypal-paymentCompleted fired:

[2018-02-11 13:44] erwin16 commented on #16
sorry oops ... cache loading issue .. working fine !

[2018-02-11 16:31] l770277 opened #18 "Notification url"
Hi possible is add to props a key of 'notification_url'.
I mean a place for IPN

[2018-02-11 22:17] khoanguyen96 commented on #18
Hey @l770277,

Is there a link to the official PayPal docs I can reference from? If I'm reading this correctly this would be part of the transaction object... correct?

[2018-02-12 11:48] l770277 commented on #18
https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/formbasics/

[2018-02-13 22:24] khoanguyen96 commented on #18
Hey @l770277,

So after reading the docs carefully, I've added a `notify-url` prop to the transaction object instead. As the docs you referenced for me seemed to be referring to the PayPal Button for an HTML form which differs significantly from [`paypal-checkout`](https://github.com/paypal/paypal-checkout).

[code]

If you want I can publish a beta you can try testing out? I've added it in the [f

[2018-02-13 22:30] khoanguyen96 commented on #18
Published Beta! `vue-paypal-checkout@2.3.4-beta.1`

[2018-02-13 23:12] #16 closed

[2018-02-13 23:19] khoanguyen96 commented on #16
Hey @erwin16,

Thanks for the warning report! It's fixed now in the latest release. Regardless, it was just a warning! I'm glad the `locale` works for you now :+1:

[2018-02-14 16:33] l770277 commented on #18
Very thanks!

[2018-02-16 13:47] AhadCove opened #20 "Paypal now redirects to home instead of completing the checkout"
So out of nowhere, my vue-paypal-checkout started redirecting to the home page of PayPal when trying to check out instead of finishing the checkout process.

Do you have any idea why, or what might have changed? I just updated to the latest version to see if that would fix it or not, but it didn't.

It also now opens in a different tab, vs as a modal on the current page on Chrome

I also just upda

[2018-02-16 17:54] AhadCove commented on #20
Hmm, so I tried in another browser and one that isn't linked to my business account and it worked. Nevermind, not sure what the cause is, but i don't think it's this module

[2018-02-16 17:54] #20 closed

[2018-02-16 19:06] khoanguyen96 commented on #18
Hey @l770277,

Did it work? If so, I'll merge it back to master and publish it officially.

Cheers!

[2018-02-16 20:40] l770277 opened #21 "A subscription"
Hi, how to create button type of subscription payment?

[2018-02-18 17:23] l770277 commented on #18
Hi, yes it works properly

[2018-02-20 18:39] khoanguyen96 commented on #21
Hey @l770277,

From my brief look I think the `paypal-checkout` button is only for one time Payments. If you would like to create a subscription payment... maybe [Billing API](https://developer.paypal.com/docs/api/payments.billing-plans) might be what you're looking for?

Again... Sorry I'm not too sure.

[2018-02-20 18:39] #21 closed

[2018-02-20 20:52] #18 closed

[2018-02-20 20:57] khoanguyen96 commented on #18
Hey,

`vue-paypal-checkout@2.3.5` published! :rocket:

Please tell me if anything changed. It shouldn't haha.

[2018-03-10 09:38] koddr commented on #11
Hello.

Why `:buttonStyle` is not working at `2.3.5` version? I try to do this:

[code]

On template:

[code]

...and alway get gold button with small size! How to solve this? Please.

[2018-03-10 10:35] koddr opened #24 "PayPal methods `paypal-paymentAuthorized`, `paypal-paymentCompleted` and `paypal-paymentCancelled` are not working"
Hmm.. why PayPal methods `paypal-paymentAuthorized`, `paypal-paymentCompleted` and `paypal-paymentCancelled` are not working at `2.3.5` version? O_o

My code is:

[code]
On template:

[code]

...so, payment is success, but console log is always empty!

I need this function, because my project (with Django on backend) need to catch complete payment information and save it to Database (and create us

[2018-03-12 16:57] khoanguyen96 commented on #11
Hey, @koddr

How are you importing the button component? Additionally, are you using webpack with vue-loader?

I can't seem to reproduce this. If you're still experiencing this after checking the package version, and etc, I'll take a closer look later if you want!

[JSFiddle](https://jsfiddle.net/khoanguyen96/n8t40zd7/2/) with your styles.

Cheers!

[2018-03-12 17:49] khoanguyen96 commented on #24
Actually I think I'm going to change the event names to something simpler and more compatible to use in HTML.

Thanks for bringing up this issue!

[2018-03-12 18:33] khoanguyen96 commented on #24
Hey @koddr,

Published with v3.0.0 :rocket:

Event names were changed! Here are the [new ones](https://github.com/khoanguyen96/vue-paypal-checkout#events-fired-by-the-simple-paypal-component)

Additionally, there's an [example](https://github.com/khoanguyen96/vue-paypal-checkout/blob/master/examples/processing.html) for interacting with the emitted events.

[2018-03-12 18:33] #24 closed

[2018-03-12 20:35] koddr commented on #24
Awesome! Thanks!

[2018-03-12 20:37] koddr commented on #11
Yes, kebab-case save lives 👍

[2018-03-16 03:19] Nonisiuniis opened #28 "paypal experience support broken? (v3.0.0)"
It looks like passing experience options is broken. When i use
[code]
it ends up with error. Examining JSON data sent to the server it looks like the options are passed verbatim as part of the `payment` call, but when i do the same on [PayPal Integration Demo](https://developer.paypal.com/demo/checkout/#/pattern/experience) it passes `experience_profile_id: TXP-6LE46586NC7700531` instead.

Demo on

[2018-03-16 17:32] khoanguyen96 commented on #28
Hey @Nonisiuniis!

Thanks for the catch! I'm not sure why I had the experience options passed in like that before...
I'll work on a fix pretty soon!

[2018-03-16 17:55] #28 closed

[2018-03-16 18:26] khoanguyen96 commented on #28
Hey @Nonisiuniis,

I fixed it in v3.1.0! :rocket:

Tell me if that fixed it for you! Sorry about the regression.

[2018-03-16 20:38] Nonisiuniis commented on #28
No other changes except for upgrade to 3.1.0 - it correctly hides shipping info, however i get some errors after finishing payment

This object is returned by the callback:
[code]
it is followed by several HTTP 2xx requests, but then it fails with 400 Bad Request:
[code]
then it spits out these errors to browser console and paypal button disappears

[code]

[2018-03-16 21:23] khoanguyen96 commented on #28
Sweet! Again thanks for catching this! If you have any other issues feel free to let me know via another issue.

Cheers!

[2018-03-23 06:35] lilywang711 opened #30 "Why is this package packed so large?"
![image](https://user-images.githubusercontent.com/17040010/37814848-31328bf6-2ea7-11e8-91c7-5a07d27e25ab.png)
hi~
I'am comfused why is this package packed so large?
Is there any way to reduce its size?
I used vue-cli to build the program
thanks~

[2018-03-23 16:08] khoanguyen96 commented on #30
Hey @lilywang711,

This is a Vue.js wrapper for [`paypal-checkout`]
Most of the size is probably inherited from its parent package.

There's a [related issue](https://github.com/paypal/paypal-checkout/issues/443) here.

I'm not knowledgable enough to know if there's anyway to reduce the size.

[`paypal-checkout`]:https://github.com/paypal/paypal-checkout

[2018-03-23 16:08] #30 closed

[2018-04-06 22:47] kieraneglin commented on #30
@khoanguyen96 There is a link to a minified version of the script that's 10% of the current script's size.  Is there any way you could look into integrating the smaller script with this library?

[2018-04-24 11:51] liaodalin19903 opened #34 "What the product should be fill?"
What the product should be fill?

[code]

[2018-04-25 02:04] #34 closed

[2018-05-07 09:44] furyscript opened #36 "Advanced integration"
Is it possible to use this repo for advanced integration like this: https://github.com/paypal/paypal-checkout/blob/master/docs/button.md#advanced-integration ?

I don't see the finely grained control in docs.

[2018-05-07 17:31] khoanguyen96 commented on #36
Hey @furyscript,

No it's not possible at the moment I'm afraid. I've been planning to tackle the advanced integration for this component but haven't had the time, nor came up with a solution I actually liked.

You're more than welcome to fork and add your own advanced integration if you like!

Thanks.

[2018-05-23 06:12] moonshineBoy opened #39 "How can vue-paypal-checkout ensure the security?"
I use the `vue-paypal-checkout` to payment.

[code]
and in the `payment_completed_cb` I will request a API for change order status or change the account balance.

but I have a question, if someone of customer is evil with technology, he call the `payment_completed_cb` directly, not pass the paypal payment.

[2018-05-25 23:56] khoanguyen96 commented on #39
Hey @moonshineBoy,

Sorry for the late response. I definitely agree with you. Someone with the right skills can maliciously call `payment_completed_cb` to change the order status or charge the account balance.

But for ensuring security I don't think it's under PayPal's or even this component's scope.

If you have access to your own API, I think a sufficient solution would be to send just the PayP

[2018-05-28 03:34] moonshineBoy commented on #39
Thanks for your response, @khoanguyen96  , can you explain more about the `have your API contact PayPal's API directly to confirm and/or retrieve the payment details` ? what's the specific method?

[2018-05-28 15:16] studioscholz opened #43 "Using vue-paypal-checkout with Nuxt.js as a plugin"
I'm currently trying to implement vue-paypal-checkout as a nuxt plugin, but can’t get it to work.

`/plugins/vue-paypal.js
`
[code]

`nuxt.config.js
`
[code]

`Console error
`
[code]

Any idea why this is not working?

[2018-05-29 08:54] Connum opened #44 "flow_config.user_action cannot be set to "Continue""
Hi there,

this might not be the component's fault, but as the docs state that a "valid object with the Experience options" can be passed, I'm posting this here in the hope that someone has an idea.

This is what my experienceOptions look like:
`
      experienceOptions: {
        presentation: {
            ...
        },
        flow_config: {
          landing_page_type: 'Billing',
          us

[2018-05-29 11:58] studioscholz commented on #43
Solved with `/plugins/vue-paypal.js`:
[code]

[2018-05-29 11:58] #43 closed

[2018-05-29 17:35] khoanguyen96 commented on #44
Hey @Connum,

The `paypal-checkout` button exposes a prop called `commit` which should be what you're looking for. It's normally true by default. I'm guessing you can set `commit: false` instead?

If this doesn't work for you let me know! I'll look into it.

Cheers!

[2018-05-30 07:17] Connum commented on #44
Thanks for the quick response!
Currently I can't access the REST API at all (always receiving a status of 401), but I'll try it out and let you know, as soon as it's working again.

[2018-05-31 11:27] Sabe67 opened #45 "Local don't change on update hook"
Hello,

I have a problem with the local prop. When I try to change it when the hook update is called nothing happend. I try the same thing with the amount prop and it's work.

Their is my paypal button :
[code]

My data :
[code]

Thank you for your help and sorry for my english :)

[2018-05-31 23:39] khoanguyen96 commented on #45
Hey @Sabe67,

Thanks for reporting this. I'll need to look into this.

[2018-06-06 09:25] JamesFreeman opened #47 "No handler found for post message"
Hi,

I've been looking to implement your package today, and I kept running into the same problem of ` Error: No handler found for post message: xcomponent_init from`

My code is as follows:
[code]

![image](https://user-images.githubusercontent.com/916500/41029288-393f7fa0-6973-11e8-9361-1b5493f3fa7a.png)
I've done some googling and apperently it may be something to do with how VueJS handles the b

[2018-06-08 23:53] khoanguyen96 commented on #44
Hey @Connum,

Did you get it to work?

[2018-06-09 09:56] Connum commented on #44
Unfortunately, I still haven't been able to test it due to the API error. Even tried a new key, but to no avail. But I hope this will be sorted out soon!

[2018-06-13 06:44] Connum commented on #44
Hi @khoanguyen96,
thanks, it works!

[2018-06-15 10:19] Connum commented on #44
One thing that I still don't understand though is that the payment is automatically being completed after authorization, without the user having to confirm it on the page again. This seems to be triggered by the component? Shouldn't there be a check in "onAuthorize" for the commit prop?

[2018-06-15 13:05] iamthefreeman commented on #47
@khoanguyen96 I've been unable to track down what actually causing this issue, would you be able to take a look at this?

[2018-06-16 02:20] khoanguyen96 commented on #44
Hey @Connum,

I never used it without `commit: true` before, so you're most likely right. I'll add a check for the `commit` prop beforehand.

Cheers!

P.S. Thanks for the PR I'll take a look at it as soon as I can. 👍

[2018-06-21 21:59] khoanguyen96 commented on #47
Hey @iamthefreeman,

Sorry for the late reply. I'm thinking it might be because it's nested in your components. If the parent component has a v-if, it might be breaking the button.

Is there any chance you can show me what your parent components look/behave like?

Thanks!

[2018-06-22 07:58] iamthefreeman commented on #47
Hi @khoanguyen96, thanks for your response. I've built a repo to reproduce the issue for you. It was productive to do this as I can see actually what is causing the issue, nesting the components work fine, and doesn't appear to cause the issue. It appears that `https://foundation.zurb.com/sites/docs/sticky.html` is causing the issue as it's manipulating the parent div in the dom.

Repo URL:
https:

[2018-06-23 14:01] moonshineBoy opened #52 "I have used a band card in my account, why at the second time to use still need bind a card ?"
I input a card information when I use the PayPal for payment, and success, then in my account I can fond the card, see the bellow snapshot:

![60d8b185-6091-45b3-a08e-0d83e814c2db](https://user-images.githubusercontent.com/22514729/41810382-f77544d6-772f-11e8-8ad0-5f7323d63495.png)

Now,  I use the account for second payment, it still need a more band card.

![image](https://user-images.githubuser

[2018-06-25 03:49] suryaadtmaja opened #53 "Vue Paypal Checkout Support SSR ?"
i'm going to use vue paypal checkout for my project in nuxt, but before I use it, i'm going ask, is it vue paypal checkout  is support SSR ?

thank you

[2018-06-27 13:11] IlyaSemenov commented on #53
No, don't bother with this one. It will crash immediately on import with:

[code]

[2018-07-01 07:59] suryaadtmaja commented on #53
No, i do use this package, and it's actually work.
just add
    { src: '~/plugins/paypal.js', ssr: false }
  ],
  ** Build configuration
  */
  build: {
    vendor: [
      'vue-paypal-checkout'
    ],

and in plugins :

import Vue from 'vue'
import PayPal from 'vue-paypal-checkout'
Vue.component('paypal-checkout', PayPal)

[2018-07-06 16:00] khoanguyen96 commented on #53
Thanks for the PR to use the component with Nuxt.js!

[2018-07-06 16:00] #53 closed

[2018-07-31 12:02] iamthefreeman commented on #47
@khoanguyen96 have you been able to look into this?

[2018-08-01 16:53] khoanguyen96 commented on #47
@iamthefreeman, hey sorry I just got some time to look at it today.

You're definitely right, it's caused by the sticky. Since Zurb Foundation uses jQuery which manipulates the DOM directly, Vue.js has no way of telling the DOM was changed so the container the `vue-paypal-checkout` component has a reference to becomes `undefined`.

I'm not sure if I can find a clean solution to fix this... At leas

[2018-08-02 10:35] iamthefreeman commented on #47
Thanks for looking into that for me, I'll try an implement this in my project shortly 👍

[2018-09-17 11:57] suryaadtmaja commented on #53
@andriyfm did you install vue-paypal-checkout on your project? the error looks like you're not installing it

[2018-09-19 04:43] andriyfm commented on #53
I cancel to use this package, maybe later.

[2018-10-16 15:30] miljko1984 opened #61 "Api"
Hello,

How to trigger @payment-completed function only if passed my own API validation?

Thanks in advance

[2018-10-18 16:34] khoanguyen96 commented on #52
Hey, sorry this is out of my control. Seems to be expected behavior.

[2018-10-18 16:34] #52 closed

[2018-10-20 19:26] calirails opened #63 "Passing in :items to detail transaction line items in item_list fails with Malformed JSON request"
Hi, thank you for developing and sharing this component. It's a really nice encapsulated module.

I've been debugging into vue-paypal-checkout-common.js to understand the internals and how it works with Paypals' checkoutlib.js. I'm able to receive the payment-completed event handler if I pass only the amount; but I really want to show the line item details to the customer when he/she has navigated

[2018-10-21 16:31] calirails commented on #63
I've attached another sreenshot to visually clarify the intended CX objective with passing in the :items information.
<img width="466" alt="paypal-checkout-item-details-goal" src="https://user-images.githubusercontent.com/942698/47269536-1862f200-d514-11e8-9332-e034d0eab89e.png">

[2018-11-01 06:49] bhaskararao-nyros commented on #44
[code]
I imported and used this code and provided sandbox client ID.But not working.can you please help me how to get responses while doing payment

[2018-11-01 18:11] khoanguyen96 commented on #44
hey @bhaskararao-nyros,

The event names were changed recently.

https://github.com/khoanguyen96/vue-paypal-checkout#events-fired-by-the-simple-paypal-component

What version of vue-paypal-checkout do you have installed?

[2018-11-22 07:02] mjfxdd opened #68 "how to write the address"
I don't know how to send the address to paypal. I hope I can choose the address on the page and pass it to PayPal instead of checking the address in PayPal after it logs in.
Can you tell me how to transmit and how to write the data?
Thank you very much.
![image](https://user-images.githubusercontent.com/24537314/48886674-cf31f500-ee67-11e8-85d1-afd7d503c9dd.png)

That's what the official document

[2018-11-27 18:21] khoanguyen96 commented on #68
Hey @mjfxdd,

Sorry for the late reply! I checked the PayPal docs and you're right this doesn't seem to be exposed in the component anywhere. I'll make a slight addition where you can pass in an `shipping-address` prop.

Side note, I'm currently not very happy how some of the props are completely different to how PayPal has it laid out but this can be tackled in another issue.

[2018-11-27 18:55] khoanguyen96 commented on #68
Hey @mjfxdd,

Just an update I released v3.2.0, which should have the `shipping_address` prop available for you to use.

Thanks!

[2018-11-27 18:55] #68 closed

[2018-12-26 03:28] SUNAnne opened #71 "How to prevent this warning message from appearing in the browser"
How to prevent this warning message from appearing in the browser
![2018-12-26 11 22 16](https://user-images.githubusercontent.com/39116039/50430832-4c3a0980-0901-11e9-8c28-792d6011055a.png)

[2018-12-27 10:56] raykudo opened #72 "Where to set client token for Braintree"
Hello,

[code]

I tried to test callbacks via test() function. Now I got an error called ```BraintreeError code: "CLIENT_INVALID_AUTHORIZATION", message: "Authorization is invalid. Make sure your client token or tokenization key is valid.", type: "MERCHANT"``` on browser console after I submit paypal checkout modal.

According to the [braintree doc for paypal checkout](https://developers.braintree

[2018-12-28 03:05] jonathanw2004 opened #73 "Can we add the 'authorize' support instead of only 'sale'?"
Basically, I would like the UI to get the customers' authorization only and capture the payment in my backend code. This allows my customers to be able to cancel the payment in a period (3 days from PayPal) without any PayPal transaction fee on me. Thanks.

[2018-12-28 03:10] jonathanw2004 commented on #73
The fix could be just adding one line in the below code:

      var payment = {
         intent: this.commit ? 'sale' : 'authorize', <=== adding this line seems fix the issue.
         transactions: [transaction]
      };

[2018-12-30 08:59] #72 closed

[2018-12-30 08:59] raykudo commented on #72
I found no need to use Braintree in my case.

[2018-12-31 02:14] renztoygwapo commented on #39
Hi @moonshineBoy, I agree with @khoanguyen96 and since you have the callback and you get the payment ID that data you can pass that to your api and used the Paypal SDK's to get the payment details instead from the callback. So that we make sure that data is correct and accurate base on the paypal server integration like so in PHP syntax.

public function getPaymentDetails ($paymentID)
{

        $

[2019-01-07 08:37] raykudo commented on #61
+1
I'd love to validate before the modal fires like https://developer.paypal.com/demo/checkout/#/pattern/validation

[2019-02-06 20:08] mejiamanuel57 opened #75 "Specify allowed and disallowed funding sources"
Based on the [documentation](https://developer.paypal.com/docs/checkout/quick-start/) , Specify allowed and disallowed funding sources :

[code]
![capture](https://user-images.githubusercontent.com/2773793/52370502-77983400-2a29-11e9-8e8e-313d96d7714c.JPG)

[2019-02-18 14:32] Sabe67 commented on #45
Hi @khoanguyen96,

Do you think you will work on this soon ?

[2019-03-06 21:22] vincenzourbisaglia commented on #73
Any update on that?

[2019-03-10 15:09] kslr commented on #39
Make an order comparison in webhook

[2019-03-17 10:39] ralpdexterbongato opened #76 "how to confirm if vue paypal checkout is successful?"
Everything works fine but how about I only want to save an order after the payment is successful? Is it possible? I want to execute a method after payment. thanks.

[2019-03-17 16:24] #76 closed

[2019-04-04 07:40] isuex opened #77 "Clicking the Payment button on the iPhone does not respond"
What happens when I click on an iPhone device and it doesn't respond?

[2019-04-07 23:53] nickfaughey commented on #47
Any update on this? Just ran into it when the PayPal button is contained in a Vuetify `v-dialog`. As mentioned in [this Stack Overflow post](https://stackoverflow.com/questions/50202769/paypal-error-handling-no-handler-found-for-post-message-ack-for-message-postrob/51335493), it's likely caused by inconsistencies in the order of loading the DOM and JS script.

In fact, I can reproduce a "fix" cons

[2019-04-23 05:12] pixelpaulaus opened #79 "is there an event for errors?"
seems like there is no way to catch errors, such as "DUPLICATE_TRANSACTION"?
Unless i am mistaken?

[2019-04-26 09:49] AkslDev commented on #2
Hello, i just want to know if it possible to personnalize more the button paypal ? For add my style with my css for example ?

[2019-04-30 13:24] slamghost opened #80 "How can I change the button text ?"
Instead of "Paypal" in would like to show Pay here or just "Pay"

Regards

[2019-05-15 12:04] mogalmahesh commented on #53
Like @filsuck said, i added payal.js file and added paypal component and  made changes in nuxt config js as well. But i am still getting  " window is not defined" error.
Here are changes i have made

paypal.js
[code]

nuxt-config.js
[code]

[2019-05-16 15:09] FreddyCrugger commented on #80
Try this page here, scroll down and check all the styles.

The closest you will get with an unbranded button is to add this in your data() object:
              buttonStyle: {
                    label: 'buynow',
                    size: 'large',
                    shape: 'rect',
                    color: 'gold'
                },

Then this in your button:
              <PayPal  :button-style=

[2019-05-16 15:17] slamghost commented on #80
Thanks @FreddyCrugger

 I changed the locale param and the text it's not bad at all.
Regards

[2019-05-17 19:37] FreddyCrugger opened #82 "2 important Paypal variables missing from the package"
Hello,

I would like to inform you that 2 important variables are missing from your package(unless I missed something):
:custom and :item_number1

When an app is detached from the backend, it is good to have them to pass the user id for example. Right now I will be using instead the invoice number but is it not ideal.

Thank you for the package.

[2019-05-21 08:19] FreddyCrugger commented on #80
Great it worked out!

[2019-05-22 02:38] thehiddennepali opened #83 "how add shipping charge in amount"
Hi I am just figuring out how to include the shipping charge for the amount as i have line of item and i have fixed delivery charge but need to be from database to the paypal
`{
                    currency_code: 'USD',
                    value: (<?=$total;?> + <?=$delivery_charge;?>).toFixed(2),
                    breakdown: {
                        item_total: {
                            cu

[2019-06-02 11:30] filsuck commented on #53
You're welcome

[2019-06-03 18:53] Angulz commented on #82
I stumbled upon the same thing, tried adding a custom variable unsuccessfully. Also tried using invoice-number but got an odd payment error "Payment could not be executed".

[2019-06-03 19:17] FreddyCrugger commented on #82
Angulz, I have to admit I have struggled a lot on this, and I hope this will help you.

On my paypal form page(front end), I added both the user id and invoice number together with a separator as:
                const chars='abcdefgh123456789';
                let s = '';
                while (len--) s += chars[Math.floor(Math.random() * chars.length)];
                let seconds = new Date() /

[2019-06-04 15:32] Angulz commented on #82
Wow, this really helped! I think what I was missing was the PayPal notify-url prop, that was giving me the error. That made the invoice number work (as for the errors), on my backend however, thanks to you I can now get my user ID haha.

Super useful, cheers!

[2019-06-04 15:38] FreddyCrugger commented on #82
You are more than welcome, I struggled so much on this that I thought....let's not have someone else struggling too :-) Glad it helped.

[2019-06-23 22:46] Kabyno commented on #73
I’m interested by this feature too.

[2019-07-05 07:48] jazuly1 opened #85 "how to get response callback"
hi, thanks for awesome plugin, but how if i want to get data of detail transaction after transaction is successfull?

or how to know if the transaction is successfull?

[2019-07-18 06:47] Ant-V opened #87 "Inline form displaying whenever user selects to pay with card always requires shipping address"
I noticed there is a change on the card buttons. (Visa, Mastercard, etc).
It used to be once you click on them, they opened a new tab and the user filled his details on Paypal.
Now when a user clicks on a card button an inline form appears for the user to fill his/her data, and it always asks for a shipping address.
Has anyone a way to fix this to either revert to the previous way of working or at

[2019-07-22 09:43] fedeverdi commented on #85
You can use "payment-authorized", "payment-completed" and "payment-cancelled" events.

`
v-on:payment-authorized="paymentauthorized"

..............

methods: {
 paymentauthorized(event) {
     // Your response
     console.log(event);
}
}
`

[2019-07-25 07:13] lql25 commented on #61
+1

[2019-07-30 15:39] JuanGongora commented on #79
I would also like to know how to handle errors with this package. I know that there's `payment-authorized`, `payment-completed`, and `payment-cancelled` events. But what about one for errors? Even a generic one would be nice.

Is there a way to do this?

[2019-08-09 16:50] Jack74r opened #88 "Items do not appear at the time of payment"
Hi i'm using Nuxt and the products do not appear at the time of payment
my itemsPaypal variable
`[ { "name": "kit 2K20", "quantity": 1, "description": "Brown hat.", "price": 15, "currency": "EUR" }, { "name": "kit 2 2K20", "quantity": 1, "description": "Brown hat.", "price": 20, "currency": "EUR" } ]`

` <no-ssr>
      <paypal-checkout
        env="sandbox"
        locale="fr_FR"
        :amount="

[2019-08-18 09:11] Nicholi commented on #79
Possible solution made in this PR: https://github.com/khoanguyen96/vue-paypal-checkout/pull/90

The underlying dependency `paypal-checkout` has an onError event that simply wasn't tied into before. It should allow you to catch any errors in checkout process. However I noticed identifying the exact underlying error maybe somewhat impossible (for example if it were actually a `DUPLICATE_TRANSACTION`

[2019-08-18 09:37] Nicholi commented on #79
Apparently the lack of useful error object is a known thing, semi-discussion in this issue: https://github.com/paypal/paypal-checkout-components/issues/479

[2019-08-18 09:58] Nicholi commented on #79
I missed the big **Note** in the official docs, https://developer.paypal.com/docs/checkout/integration-features/handle-errors/.

Just a very general event.

[2019-08-23 13:32] butaminas commented on #47
Still an issue...

[2019-08-23 19:20] mpatino117 opened #92 "Using a deprecated v2 paypal-checkout version"
The version you are using is v2, which has been deprecated by paypal. Is there plan to change the core of this module to use v3 for paypal-checkout package?

[2019-08-30 00:58] CheyenneForbes commented on #92
@khoanguyen96

[2019-10-06 17:31] StanleeLOD opened #93 "Can't specify PayPal-Request-Id"
I didn't found a way to add `PayPal-Request-Id` in headers :(
It's actually pretty close to experience options but, should be sanded in the header instead of body.
Maybe you know how to solve this issue?
https://developer.paypal.com/docs/api/reference/api-requests/#http-request-headers

[2019-10-23 18:43] goors opened #94 "onInit, onClick events with form validation?"
How can I use this with your plugin?

https://developer.paypal.com/docs/checkout/integration-features/validation/#asynchronous-validation

I tried to modify it but it seems that this part of PayPal npm package is missing actions:

[code]

Long story short how can you validate form first and then allow PayPal actions to proceed?

[2019-10-24 11:27] kgrosvenor opened #95 "Question: Does this work with subscriptions, any examples?"

[2019-10-28 09:10] abrhambas01 opened #96 "Client Authentication Failed error 401 encountered when I press the Paypal button"
When I click on the Paypal checkout button,  I get these errors

![image](https://user-images.githubusercontent.com/12043306/67666015-dc276480-f9a5-11e9-921f-b10084771b86.png)

[2019-10-28 13:46] abrhambas01 commented on #96
Just  a suggestion,please edit the readme of the project, make sure you're emphasizing:
[code]

[2019-10-28 13:46] #96 closed

[2019-10-28 13:50] abrhambas01 commented on #77
Have you tested it out ?

[2019-10-29 02:14] abrhambas01 opened #97 "[400] INVALID CURRENCY_AMOUNT_FORMAT when pressing the paypal checkout button"
Please Help [ I tried to follow all the instructions in the readme that you provided..

Here is the code
[code]

and this is in my data object
[code]
it all gives me successful message but when I press on the

![image](https://user-images.githubusercontent.com/12043306/67731938-c1500100-fa34-11e9-9e66-6675b88a99f7.png)

but this time it's 400 error. Specifically something that says

[code]

[2019-10-31 04:40] #97 closed

[2019-11-18 15:53] Craig-Burch commented on #95
I too am interested in knowing how to implement subscriptions. I have the package set up to handle one time transactions but I have yet to find any examples of subscriptions using this package. I will reply back here if I find anything first.

[2019-12-04 22:09] Craig-Burch commented on #95
No luck, BUT you CAN use sandbox.paypal.com or a paypal business account (for live versions of button) to create subscription smart buttons similar to this Vue wrapper. I am using the paypal business account smart buttons for sub based payments + this Vue wrapper for one time payments. Good luck. NOTE: If anyone reading this is just starting their research on a payment gateway and want to truly in

[2019-12-10 12:42] theissn commented on #73
In case you're still waiting for this feature, I managed to accomplish this by adding the following prop on the component: **`:commit="false"`**

[code]

Which will then only authorize the payment and fire the below event:

![image](https://user-images.githubusercontent.com/5305773/70530295-7acce680-1b4a-11ea-8e1c-6a5ce6e0f806.png)

[2019-12-12 15:05] lematy commented on #95
@Craig-Burch this is why im currently building a tool to handle subscriptions and payments for Paypal and Stripe.

You basically make a checkout link, pass the object containing product_id and you get a secure checkout page, then this is hooked up to your own webhook.

Works well, and yes, paypal was a massive pain, but hopefully if this saves someone a few days of pain, it was worth it ha

it sho

[2019-12-12 15:29] Craig-Burch commented on #95
@lematy That is exciting to hear! I will follow you on github and watch the progress.

[2020-01-07 11:36] Kinzi commented on #94
@goors Where you able to solve this somehow?

[2020-01-08 12:14] goors commented on #94
@Kinzi  nope. I was never able to resolve this. that PayPal button sucks!

[2020-01-08 12:14] #94 closed

[2020-02-12 12:08] vimal opened #101 "Question: Any option to attach promocode with the PayPal Checkout button?"